


  <div class="titulo-div">
    <h1 class="titulo"><strong>Funcionalidades</strong></h1>

    <h3 class="subtitulo"><strong> A aplicação acessada: </strong></h3>
  </div>

  <div class="descricao">
    <p class="resumo">
        Apresenta o maior custo-benefício em relação a energia sustentável, comparando-a com a energia comum disponível no mercado. 
    </p>
        
      <br>

      <p class="resumo">
        Exibe provedores e vendedores de energia renovável disponíveis.
      </p>

  </div>

