<ion-content [fullscreen]="true" class="cadastro-content">
  <div class="cadastro-container">
    <h2 class="titulo-cadastro"><strong>Cadastro</strong></h2>

    <form (ngSubmit)="salvar()" class="cadastro-form">
      <ion-item class="form-item">
        <ion-label position="floating" class="label-form" for="nome">
          <ion-icon name="person-outline" slot="start" class="icon"></ion-icon>
          Nome
        </ion-label>
        <ion-input [(ngModel)]="nome" name="nome" class="input-form" name="nome" id="nome" placeholder="Nome completo" required></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="floating" class="label-form" for="email">
          <ion-icon name="mail-outline" slot="start" class="icon"></ion-icon>
          E-mail
        </ion-label>
        <ion-input [(ngModel)]="email" type="email" name="email" id="email" class="input-form" placeholder="email@gmail.com" required></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="floating" class="label-form" for="senha">
          <ion-icon name="key-outline" slot="start" class="icon"></ion-icon>
          Senha
        </ion-label>
        <ion-input [(ngModel)]="senha" type="password" name="senha" id="senha" class="input-form" placeholder="Senha" required></ion-input>
      </ion-item>

      <ion-item class="form-item">
        <ion-label position="floating" class="label-form" for="confirmar-senha">
          <ion-icon name="key-outline" slot="start" class="icon"></ion-icon>
          Confirmar Senha
        </ion-label>
        <ion-input [(ngModel)]="senha" id="senha2" type="password" class="input-form" placeholder="Confirmar senha" required></ion-input>
      </ion-item>

      <div class="botao-div">
        <ion-button color="success" type="submit" class="botao-form">Cadastrar</ion-button>
      </div>

      <div class="link-div">
        <a class="link-form" (click)="go('/login')">Já possui uma conta? Logar</a>
      </div>
    </form>
  </div>
</ion-content>
