<ion-header [translucent]="true">
  <ion-toolbar class="cabecalho">
    <ion-title>{{ title }}</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-list class="gerador">
     
    <ion-item *ngFor="let gerador of gerador">
      <ion-label>{{ gerador.descricao }}</ion-label>
  
    <ion-item-option class="item-delete" color="(236, 223, 223)" expandable="true" >
      <ion-icon class="delete" color="danger" slot="icon-only" name="trash" (click)="excluir(gerador.id)"></ion-icon>
    </ion-item-option>

      <ion-buttons [collapse]="true"  class="item-edit" (click)="editar(gerador.id)"> 
        <ion-button>
          
          <ion-icon class="editar" slot="end" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  
  
  
  <ion-fab class="botao-add-fab" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="botao-add" routerLink="/cadastro-gerador-energia">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
