<ion-content [fullscreen]="true">
  <h2 class="titulo-recuperar"><strong>Recuperar senha</strong></h2>


    <form action="">
      <div class="formulario">  
        <label class="label-form" for="email"><strong>Email:</strong></label>
        <ion-input class="input-form" id="email" fill="outline" placeholder="email@gmail.com"></ion-input>
      </div>

        <div class="botao-div">
          <ion-button class="botao-form" color="success">Enviar</ion-button>
        </div>

        <div class="div-link">
          <a class="link-form" routerLink="/login">Voltar ao login</a>
        </div>
    </form>
</ion-content>