.etapa3-img{
    margin: 0 40% 0 40%;
    height: 100%;
    width: 50%;
    margin: auto;
}

.etapa3-img-corpo{
    width: 100%;
    margin: auto;
}

.etapa3-corpo{
    margin-top: -10%;
}

.etapa3-texto{
    text-align: center;
    margin: auto;
    margin-top: 5%;
}

.etapa3-botao{
    text-align: center;
    
    margin-top: 10%;
}

.botao{
    width: 50%;
    font-size:  1.5em;
    border-radius: 5%;
    --ion-color-success:#5D9C53;
}
