<ion-content [fullscreen]="true">
      <h2 class="titulo-login"><strong>Login</strong></h2>

      <form action="">
        <div class="formulario">  
          <label class="label-form" for="email"><strong>Email:</strong></label>
          <ion-input class="input-form" id="email:" fill="outline" placeholder="email@gmail.com"></ion-input>
  
          <label class="label-form" for="Senha"><strong>Senha:</strong></label>
          <ion-input type="password" class="input-form" id="senha:" fill="outline" placeholder="Senha"></ion-input>
  
          <label class="label-form" fill="outline" for="confirmar-senha"><strong>Confirmar senha:</strong></label>
          <ion-input type="password" class="input-form" id="confirmar-senha" fill="outline" placeholder="Confirmar senha"></ion-input>
  
            <a class="link-form" href="">Esqueci minha senha</a> <br>
            
            <br>
            <a class="link-form" href="">Não tem uma conta? Cadastrar</a>
        </div>

          <div class="botao-div">
            <ion-button class="botao-form" color="success">Entrar</ion-button>
          </div>
      </form>
</ion-content>
