 <!-- <ion-content [fullscreen]="true">
      <h2 class="titulo-login"><strong>Login</strong></h2>

      <form [formGroup]="formLogin" (ngSubmit)="login()">

        <div class="formulario" >
          <ion-label class="label-form" for="email"><strong>Email</strong></ion-label>
          <ion-icon name="mail" item-start></ion-icon>
          <ion-input [(ngModel)]="email" name="email" class="input-form" id="email" fill="outline" placeholder="email@gmail.com"></ion-input>

          <ion-label class="label-form" for="Senha"><strong>Senha</strong></ion-label>
          <ion-icon name="key-outline" item-start></ion-icon>
          <ion-input [(ngModel)]="senha" name="senha" type="password" class="input-form" id="senha" fill="outline" placeholder="Senha"></ion-input>

        
            <a class="link-form" routerLink="/recuperar">Esqueci minha senha</a> <br>
            
            <br>
            <a class="link-form" routerLink="/cadastro">Não tem uma conta? Cadastrar</a>
        </div>
        
          <div class="botao-div">
            <ion-button class="botao-form" color="success" type="submit">Entrar</ion-button>
          </div>
      </form>
</ion-content> -->
