ion-content{
    --background: #92C74F;
}

.titulo-login{
    text-align: center;
    margin-bottom: 10%;
}

.botao-div{
    text-align: center;
    margin-top:7%;
}

    .botao-form{
        width: 50%;
        font-size:  1.5em;
        --ion-color-success:#046D22;
    }
    
.link-form{
    margin: 5% 0 0 0;
    color: rgb(55, 29, 202);
}


.input-form2{
    border-radius: 5px;
}