<ion-menu [contentId]="content_id" side="start" class="custom-menu">
  <ion-header>
    <ion-toolbar color="success">
      <ion-title color="dark">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list class="menu-list">
      <ion-item (click)="go('/home')" lines="none" class="menu-item">
        <ion-icon name="home-outline" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-item>
      
      <ion-item (click)="go('/venda-energia')" lines="none" class="menu-item">
        <ion-icon name="cash-outline" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Vender</ion-label>
      </ion-item>
      
      <ion-item (click)="go('/compra')" lines="none" class="menu-item">
        <ion-icon name="cart-outline" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Comprar</ion-label>
      </ion-item>
      
      <ion-item (click)="go('/listagem-venda')" lines="none" class="menu-item">
        <ion-icon name="bag-check-outline" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Suas vendas</ion-label>
      </ion-item>
      
      <ion-item (click)="go('/listagem-gerador')" lines="none" class="menu-item">
        <ion-icon name="flash-outline" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Listagem de geradores</ion-label>
      </ion-item>
      
      <ion-item (click)="go('/configuracoes')" lines="none" class="menu-item">
        <ion-icon name="settings-outline" slot="start" class="menu-icon"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-item>

      <div class="div-logoff">
        <ion-button class="logoff" color="danger" expand="full" (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Sair
        </ion-button> 
      </div>
    </ion-list>
  </ion-content>
</ion-menu>
