.cabecalho{
    --background: #92C74F;
    --color: white;
}

.formulario{
    margin-top: 5%;
}

    .botao-div{
        text-align: center;
        margin-top:5%;
    }

        .botao-form{
            width: 80%;
            font-size:  1.5em;
            --ion-color-success:#046D22;
        }