<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button class="menu-hamburguer"></ion-menu-button>
    </ion-buttons>
    <ion-title color="dark">{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<app-menu content-id="home-content"></app-menu>

<ion-content [fullscreen]="true" id="home-content" class="green-theme">
  <ion-header collapse="condense">
    <ion-toolbar></ion-toolbar>
  </ion-header>

  <ion-list class="venda">
    <!-- Desktop Table -->
    <div class="table-wrapper desktop-view">
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th class="titulo-tabela">Gerador</th>
            <th class="titulo-tabela">Valor por kW</th>
            <th class="titulo-tabela">Quantidade de Energia</th>
            <th class="titulo-tabela">Descrição</th>
            <th class="titulo-tabela">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of venda">
            <td>{{ v.gerador_id }}</td>
            <td>R$ {{ v.vl_venda }}</td>
            <td>{{ v.qt_energia }}kWh</td>
            <td>{{ v.descricao }}</td>
            <td>{{ v.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Visualização mobile -->
    <div class="mobile-view" *ngFor="let v of venda">
      <ion-card>
        <ion-card-content>
          <p><strong>Gerador:</strong> {{ v.gerador_id }}</p>
          <p><strong>Valor por kW:</strong> R$ {{ v.vl_venda }}</p>
          <p><strong>Quantidade de Energia:</strong> {{ v.qt_energia }}kWh</p>
          <p><strong>Descrição:</strong> {{ v.descricao }}</p>
          <p><strong>Status:</strong> {{ v.status }}</p>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-alert
      [isOpen]="isShowDeleteDialog"
      header="Tem certeza que deseja cancelar a venda?"
      [buttons]="alertButtons">
    </ion-alert>
  </ion-list>
</ion-content>
