<ion-header [translucent]="true">
  <ion-toolbar>

        <ion-buttons slot="start">
            <ion-menu-button class="menu-hamburguer"></ion-menu-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-menu content-id="home-content"></app-menu>
<ion-content [fullscreen]="true" id="home-content">
      <form submit="">

        <div class="formulario">  

          <div class="div-venda">
            <ion-select (ionChange)="handleChange($event)" label="Selecione o gerador para venda" label-placement="floating" fill="solid" class="select-venda" >
              <ion-select-option *ngFor="let g of gerador" [value]="g.id">{{ g.descricao }} </ion-select-option>
            </ion-select>
        </div>
        
          <label class="label-form" for="qntd-energia"><strong>Selecione quanta energia quer vender:</strong></label>
          <ion-input type="number" [(ngModel)]="qt_energia" name="qt_energia" class="input-form" id="qt_energia" fill="outline" placeholder="0Kw" required></ion-input>

          <label class="label-form" for="valor-energia"><strong>Selecione o valor minimo da enegia (por Kw):</strong></label>
          <ion-input type="number" [(ngModel)]="vl_energia" name="vl_energia" class="input-form" id="vl_energia" fill="outline" placeholder="0Kw" required></ion-input>
  
          <label class="label-form" for="descricao-venda"><strong>Descrição:</strong></label>
          <ion-input type="text" [(ngModel)]="descricao" name="descricao" class="input-form" id="descricao" fill="outline" placeholder="Descrição da venda"></ion-input>
        </div>
        
          <div class="botao-div">
            <ion-button class="botao-form" color="light" (click)="salvar()">Prosseguir</ion-button>
          </div>
      </form>
</ion-content>
