ion-content{
    --background: #92C74F;
}


.div-venda{
    margin-top: 10%;
    margin-bottom: 5%;
}

.botao-div{
    text-align: center;
    margin-top:7%;
 
}

.input-form{
    margin-top: 5%;
    margin-bottom: 10%;
}