<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">card-exemplo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="secondary">
    <ion-card-header>
      <ion-icon name="podium-outline"></ion-icon>
      <ion-card-subtitle>Casos encontrados</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h1 class="icon-card-value">20</h1>
    </ion-card-content>
  </ion-card>

  <ion-card color="sucess">
    <ion-card-header>
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-card-subtitle>Quantidade de geradores cadastrados</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h1 class="icon-card-value">03</h1>
    </ion-card-content>
  </ion-card>

  <h2 class="titulo-grafico">.</h2>
  <p-chart class="grafico" type="pie" [data]="data"/>

  <p-chart type="bar" [data]="data2"/>
</ion-content>