

.usuario {
  font-size: 1.4rem;
  color: black;
}

.titulo-home, .atualizacoes, .funcionalidades-titulo {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.funcionalidade-card {
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.funcionalidade-card:hover {
  transform: scale(1.05);
}

.card-content ion-icon {
  color: #000000;
  margin-bottom: 10px;
}

.card-content h3 {
  color: #000000;
  font-size: 1.2rem;
  margin: 0;
}

.atualizacoes {
  text-align: center;
  margin-top: 20px;
  color: #333;
  border: 1px solid #000; /* Borda preta */
  padding: 10px;
  border-radius: 8px; /* Cantos arredondados para um estilo mais suave */
}

.atualizacoes-vazio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #666;
  margin-top: 10px;
}

.atualizacoes-vazio ion-icon {
  color: #666;
  margin-bottom: 8px;
}
