<ion-header [translucent]="true">
  <ion-toolbar>
        <h2 class="usuario" *ngFor="let usuario of nome"> {{ usuario.nome }} </h2>

        <ion-buttons slot="start">
            <ion-menu-button class="menu-hamburguer"></ion-menu-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-menu content-id="home-content"></app-menu>
<ion-content [fullscreen]="true" id="home-content">
  <div class="titulo-home">
    <h3><strong>BEM-VINDO(A)</strong></h3>        
  </div>

  <div class="atualizacoes">
    <h3><strong>Atualizações: </strong></h3>
  </div>

  <div class="funcionalidades">
    <h2><strong>Funcionalidades: </strong></h2>

    <swiper-container>
      <swiper-slide><app-funcionalidade1></app-funcionalidade1></swiper-slide>
      <swiper-slide><app-funcionalidade2></app-funcionalidade2></swiper-slide>
      <swiper-slide><app-funcionalidade3></app-funcionalidade3></swiper-slide>
    </swiper-container>

  </div>
</ion-content>
