
<ion-content [fullscreen]="true">

      <div class="img-sucesso-div">
        <img class="img-sucesso" src="./assets/imagens/check.png" alt="" />
      </div>
      
      <div class="">
        <h2 class="titulo"><strong>Compra Finalizada</strong></h2>
      </div>

        <article class="">
          <p class="mensagem-sucesso">
            Parabéns! Sua compra foi finalizada com sucesso
          </p>
        </article>

        <div class="compra-fim-botao-div">
          <ion-button class="botao" color="success" (click)="go('/home')">Voltar a página inicial</ion-button>
        </div>
</ion-content>
