.img-sucesso-div{
    margin: 0 40% 0 40%;
    width: 50%;
    margin: auto;
    margin-top: 20%;
    float: center;
}



.mensagem-sucesso{
        text-align: center;
        margin: auto;
        margin-top: 5%;
}

.compra-fim-botao-div{
    text-align: center;
    
    margin-top: 10%;
}

.botao-sucesso{
    width: 80%;
    border-radius: 5%;
    --background: #4CAF50;
}